body {
    background-color: gainsboro;
}
.task-priority.alta {
    background-color: #f08080;
}

.task-priority.media {
    background-color: #FF8C00;
}

.task-priority.baixa {
    font-size: 0.8em;
    margin-bottom: 15px;
    background-color: #90ee90;
}

.tarefas-pendentes {
    background-color: #478978;
    text-align: left;
    width: 31%;
    font-size: 1.3em;
    margin-right: 40px;
    font-weight: bold;
}

.tarefas-completas {
    width: 31%;
    text-align: left;
    font-weight: bold;
    color: gray;
    font-size: 1.3em;
    background-color: #D6EDFF;
}

.tarefas-pendentes:hover,
.tarefas-completas:hover,
.nova-tarefa:hover{
    background-color: #478978;
    color: white;
}

.nova-tarefa {
    width: 31%;
    text-align: center;
    font-weight: 600;
    color: gray;
    font-size: 1.1em;
    border: 1px solid gray !important;
    background-color: transparent;
}

.pendenteImg,
.validoImg {
    max-height: 20px;
    margin-top: -2px;
    width: auto;
    margin-right: 10px;
}

.task-card {
    position: relative;
    background-color: white !important;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    height: 300px; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.task-description-container {
    flex-grow: 1; 
    max-height: 120px; 
    overflow-y: auto; 
    margin-bottom: 10px;
    font-size: 0.9em;
    text-align: justify;
}

.task-description {
    margin: 0; 
    text-align: justify; 
}

.task-priority {
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.task-priority.alta {
    background-color: #f08080;
}

.task-priority.médio {
    background-color: #ffff00;
}

.task-priority.baixa {
    font-size: 0.8em;
    margin-bottom: 15px;
    background-color: #90ee90;
}
hr{
    color: #6c757d;
    
}
.task-category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.task-category {
    font-size: 0.8em;
    display: flex;
    gap: 10px;
}

.task-category i {
    display: flex;
    align-items: end;
}

.task-category span {
    font-weight: bold;
    color: #D6EDFF;
    padding: 5px;
    border-radius: 5px;
}

.categoria {
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}


.task-menu {
    position: absolute;
    top: -50px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    z-index: 10; 
}
form{
    width: 100%!important;
}
.modal-title {
    color: gray;
}
.task-menu button {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 5px;
    width: 50px;
    text-align: center;
}
.custom-form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto; 
    margin-bottom: 1rem; 
}

.custom-form-group label {
    font-size: 0.9rem;
    color: #6c757d;
    font-weight: 300;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: white;
    width: fit-content;
}

.custom-form-group input,
.custom-form-group textarea,
.custom-form-group select {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 1px #6c757d solid; 
    border-radius: 5px;
    background: white;
    width: 100%; 
}

.custom-form-group input:focus,
.custom-form-group textarea:focus,
.custom-form-group select:focus {
    outline: none;
}

.custom-form-group input[type="radio"] {
    width: auto; 
    height: auto; 
}
.form-check-input:checked{
    background-color: #478978; 
    border-color: #478978; 
}
.form-check{
    margin-top: 10px;
}
.custom-modal-footer {
    display: flex;
    margin: 0;
    padding: 10px 0;
    justify-content: flex-end;
}

  .custom-button,  .custom-button:hover {
    background-color: #478978; 
    margin: 0;
    font-weight: 600;
    width: 150px;
  }
@media (max-width:1000px) {
    .tarefas-completas {
        width: 60%;
    }
}
@media (max-width:500px) {
    .tarefas-completas {
        width: 100%;
        margin-top: 20px;
    }
    .tarefas-pendentes {
        width: 100%;
    }
    .nova-tarefa{
        width: 100%;
    }
}